body{
	margin:0;
	padding: 0;
	height: 100%;
	background: #AFAFAF;
}

.titulos-principales{
	margin: 0px;
	background-color: Black;
}

h1{
	color:#fff;
	text-align: center;
}

.menu-navegacion a{
	display: inline-block;
	width: 100px;
	height: 20px;
	padding: 10px;
	margin: 0 10px;
	background: grey;
	border: none;
	color: black;
	text-align: center;
	font-size: 18px;
}

a{
	text-decoration: none;
}

li:hover a{
	background: #1D3384;
}

.footer{
	padding: 100px;
	height: 30px;
	background: black;
	bottom: 0px;
}

li{
	display: inline;
}

ul{
	list-style: none;
}

.informacion-personal{
	border: 1px solid #3D3A3A;
	width: 30%;
	border-top: none;
	border-right: none;
	border-left: none;
	text-align: center;
}

h1, h2{
	text-align: center;
}

table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
}

th, td{
	padding: 20px;
}

/*Carousel*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 50%;
      margin: auto;
}
